/*Using the font sizes and colours provided*/
body{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.content-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header, .intro, .footer{
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul, .subtext, .footer{
    font-size: 18px;
    color: #E5E7EB;
}

.pic-head{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


button, .bluebox{
    background-color: #3882F6;
    color: #F9FAF8;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    width: 850px;
    text-wrap: wrap;
}

/*Logo and link section*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 250px;
}

/*First content section*/
.intro{
    display: flex;
    padding: 150px 80px;
    justify-content: space-around;
    align-items: center;
}

/*Used to wrap the text in first content section*/
.subtext, .content-text{
    width: 500px;
    text-wrap: wrap;
}

/*Default style for all the buttons*/
button{
    display: flex;
    align-self: flex-start;
    padding: 8px 30px;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;
    font-size: 15px;
}

/*Create spacing between the words and button*/
.fcontent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*Random information section*/
.pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
    gap: 50px;
}

/*Flex row and add gap between each flower picture*/
.flower-list{
    display: flex;
    gap: 50px;
}

/*Align words to the center and wrap text*/
.text{
    text-align: center;
    text-wrap: wrap;
    width: 150px;
}

/*Style for the individual flower pictures*/
.flowerpic{
    width: 175px;
    height: 175px;
    border:5px solid #3882F6;
    border-radius: 10px;
}

/*Center text with flower picture and add gap between pictures and words*/
.one, .two, .three, .four{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*Add padding to the side and align quote and author to center*/
.quote{
    display: flex;
    flex-direction: column;
    padding: 150px;
    align-items: center;
    background-color: #E5E7EB;
}

/*Define a smaller box to align the quote author*/
.quote-con{
    display: flex;
    flex-direction: column;
}

/*Align quote author to flex end*/
.quote-auth{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 18px;
}

/*Define margin and center content*/
.bluebox{
    margin: 75px 200px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

/*Call to action text*/
.call{
    font-weight: bolder;
    font-size: 18px;
}

/*Add white border to default border style*/
.white-border{
    border: 2px solid white;
}

/*Style for footer*/
.footer{
    padding: 30px;
    display: flex;
    justify-content: center;
}